
#
# Jason's scripts for NIRES
#

setenv JASON_SCRIPTS /usr/local/home/niresdev/jmel/scripts_nires
alias dp $JASON_SCRIPTS/dp.py
alias dpv "dp v"
alias dps "dp s"
alias dpcv "dp v c"
alias dpcs "dp s c"

alias pdiff $JASON_SCRIPTS/pdiff.py
alias pdiffv "pdiff v"
alias pdiffs "pdiff s"

alias lindisp $JASON_SCRIPTS/lindisp.py
alias lindispv "lindisp v"
alias lindisps "lindisp s"


alias cu $JASON_SCRIPTS/cu.py
alias cucent $JASON_SCRIPTS/cucent.sh
alias cudel $JASON_SCRIPTS/cudel.sh
alias cuslit $JASON_SCRIPTS/cuslit.sh

alias fowlerv "modify -s nids numfs="
alias fowlers "modify -s nsds numfs="
alias coaddv "modify -s nids coadds="
alias coadds "modify -s nsds coadds="
alias objectv "modify -s nids object="
alias objects "modify -s nsds object="
alias object $JASON_SCRIPTS/object.sh
alias xshowv "xshow -serv nids FRAMENUM OBJECT ITIME COADDS SAMPMODE NUMREADS NUMFS"
alias xshows "xshow -serv nsds FRAMENUM OBJECT ITIME COADDS SAMPMODE NUMREADS NUMFS"

